#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #0f1724;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #e6f0ff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
.swiper {
  @apply border border-[#B8FF00]/30 shadow-[0_0_20px_#B8FF00]/10 transition-all duration-300 ;
}
.swiper:hover {
  @apply hover:shadow-[0_0_10px_#B8FF00];
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #b8ff00;
}
