@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;
}

a.active {
  @apply border-b-2 border-[#7aa93c] rounded-b-none text-[#B8FF00];
}
.secondary-font {
  font-family: "Orbitron", sans-serif;
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-orange-400 via-orange-600 to-red-900 tracking-wide uppercase;
}
